#pull-request-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

#pull-request-wrapper h1 {
    margin: 10px;
}

#pull-request-wrapper input {
    margin: 20px;
}

